<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :f_name, "First Name" %><br>
    <%= f.text_field :f_name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :l_name, "Last Name" %><br>
    <%= f.text_field :l_name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :dob, "Date of Birth" %><br>
    <input type="text" name="user[dob]" id="user_dob" class="form-control datepicker-edit">
  </div>
  <div class="field">
    <%= f.label :phone, "Phone Number" %><br>
    <%= f.text_field :phone, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :email, "Email" %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit(@user.new_record? ? "Register" : "Update", class: "btn btn-success") %>
  </div>
  
  <script>
    $(function () {
      $('.datepicker-edit').datepicker({
        format: {
          toDisplay: function (date, format, language) {
            var d = new Date(date);
            d.setDate(d.getDate() + 1);
            d = moment(d).format('YYYY/MM/DD');
            return d
          },
          toValue: function (date, format, language) {
            var d = new Date(date);
            d.setDate(d.getDate() + 1);
            d = moment(d).format('YYYY/MM/DD');
            return d
          }
        }
      });
    });
  </script>
<% end %>


