<div class="col-xs-8 col-xs-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading form-view">
      <h2 class="panel-title"><%= "#{@user.full_name}'s" %> Profile</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <p>
            <strong>First Name:</strong>
            <%= @user.f_name %>
          </p>
          
          <p>
            <strong>Last Name:</strong>
            <%= @user.l_name %>
          </p>
          
          <p id="dob">
            <strong>Date of Birth:</strong>
            
          </p>
          
          <p>
            <strong>Phone Number:</strong>
            <%= @user.phone %>
          </p>
          
          <p>
            <strong>Email:</strong>
            <%= @user.email %>
          </p> 
          <div class="text-center">
            <%= link_to 'Edit', edit_user_path(@user) %> |
            <%= link_to 'Back', users_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var dob = "<%= @user.dob %>";

  dob = new Date(dob);
  dob.setDate(dob.getDate() + 1);
  dob = moment(dob).format('LL');
  console.log(dob)
  
  $('#dob').append(dob);
</script>