<div class="col-xs-10 col-xs-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading-title panel-heading form-view">
      <h2 class="panel-title left">Book Listing</h2>
      <span class="glyphicon glyphicon-th right"></span>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="books-table"></div>
        <div class="book-cards" style="display:none;">
          <div class="col-md-12">
            <% @books.each_with_index do |book, index| %>
              <% if index % 5 == 0 %>
                <div class="row card-row">
              <% end %>
              
              <div class="col-md-2">
                <a href="/books/<%= book.id %>">
                  <div class="thumbnail">
                    <img src="<%= book.image %>" alt="<%= book.title %>"/>
                    <div class="caption">
                      <h4><%= book.title %></h4>
                      <p><%= book.author %></p>
                      <p><%= book.genre %></p>
                      <p><%= book.status ? 'available' : 'unavailable' %></p>
                    </div>
                  </div>
                </a>
              </div>
              
              <% if index % 5 == 4 || index == @books.count - 1  %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(function () {
  if(!$('.data-table-component').length) {
    $.ajax({
    url: 'books.json',
    type: 'GET'
  }).done(function(data) {
    console.log('data', data);
    var columns = [{'data': 'id'},
        { 'render': function (a, a, row) {
          return '<a href="/books/' + row.id + '">' + row.title  + '</a>';
            }
        },
        {'data': 'author'},
        {'data': 'genre'},
        {'data': 'isbn'},
        {
          'render': function (a, a, row) {
            var pd = new Date(row.publish_date);
            pd.setDate(pd.getDate() + 1);
            pd = moment(pd).format('LL');
            return pd;
          }
        },
        {'data': 'publisher'},
        {'render': function (a, a, row) {
            return row.status ? 'available' : 'unavailable';
          }
        },
        {'render': function (a, a, row) {
            return moment(new Date(row.created_at)).format('LL');
          }
        },
        {'render': function (a, a, row) {
            return moment(new Date(row.updated_at)).format('LL');
          }
        }];
    var headers = ['ID', 'Title', 'Author', 'Genre', 'ISBN', 'Publish Date', 'Publisher', 'Status', 'Created', 'Last Updated'];
    var buttons = [];
    
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        columns.push(
          { 'render': function (a, a, row) {
              return '<a href="/books/' + row.id + '/edit"><span class="glyphicon glyphicon-pencil"></span></a>';
            },
            'sorting': false
          },
          { 'render': function (a, a, row) {
              return '<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/books/' + row.id + '"><span class="glyphicon glyphicon-trash"></span></a>';
            },
            'sorting': false
        });
        headers = headers.concat(("Edit, Delete").split(','));
        buttons.push({'path': 'books/new', 'title': 'New Book'});
      <% end %>
    <% end %>
    
    Library.generateDataTable({
      data: data,
      columns: columns,
      headers: headers,
      container: '.books-table',
      buttons: buttons
    });
  });
  }
  
  var inProcess = false;
  $('.glyphicon-th, .glyphicon-th-list').on('click', function () {
    
    var action = $(this).hasClass('glyphicon-th');
    var classToAdd = action ? 'glyphicon-th-list' : 'glyphicon-th';
    var classToRemove = action ? 'glyphicon-th' : 'glyphicon-th-list';
    
    $(this).toggleClass(classToAdd, true).removeClass(classToRemove);
    var classToHide = action ? 'books-table' : 'book-cards';
    var classToShow = action ? 'book-cards' : 'books-table';
    $('.' + classToHide).hide();
    $('.' + classToShow).show();
  })
});
 </script>